* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: raleway;
}

body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.aligner {
  height: 100vh;
  max-width: 800px;
  margin: auto;
}

.smoother {
  padding: 0px 20px 20px 20px;
  border-radius: 20px 20px 0px 0px;
  background: linear-gradient(45deg, rgba(255,176,136,1) 0%, rgba(255,144,135,1) 30%, rgba(255,70,132,1) 100%);
  min-height: 100%;
}

.dragger {
  display: flex;
  justify-content: center;
  padding: 10px 0px 5px 0px;
}

.drag {
  width: 30px;
  height: 5px;
  border-radius: 10px;
  background: rgb(255, 175, 202);
}

.app-name {
  height: 25%;
  padding: 20px;
  color: #333;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.the-name {
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 10px;
  color: rgba(255,70,132,1);
}

.the-desc {
  font-size: 16px;
  font-weight: 600;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px 20px 0px;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  align-items: flex-end;
  background: white;
}

.task-adder {
  outline: none;
  border: none;
  width: 90%;
  padding-left: 3px;
}

.submit-btn {
  border: none;
  background-color: transparent;
  display: flex;
}

.list-storage {
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.list-name {
  font-weight: 600;
  font-size: large;
  color: #ff4684;
  margin: 5px 0px
}

.todo-list {
  margin: 10px 0px;
}

.list-div {
  display: flex;
  align-items: flex-start;
  margin-bottom: 3px;
}

.every-text {
  font-size: small;
}

.list-info {
  margin-left: 2px;
}

@media (min-width: 1024px) {
  .aligner {
    margin-left: 112px;
  }

  .smoother {
    min-height: 75%;
  }

  .horizontal {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
  }

  .todo-list {
    width: 49%;
  }

  .done-list {
    width: 49%;
    margin-top: 10px;
  }

  .every-text, .task-adder {
    font-size: large;
  }

  .list-name {
    font-size: larger;
  }

  .list-div {
    align-items: center;
  }
}

@media (min-width: 1124px){
  .aligner {
    max-width: 912px;
  }
}

@media (min-width: 1224px){
  .aligner {
    max-width: 1012px;
  }
}